

{% extends "base.html" %}{% load staticfiles %}
{% block title %}About Our Sponsors {% endblock %}
{% block description %}The Center for Open Science is funded by private foundations. Learn about them here. {% endblock %}

{% block navlinks %}{% with 'about' as nav %}
        {{ block.super }}
{% endwith %}{% endblock %}{% block content %}

{% block stylesheets %}

    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="{% static '/static/plugins/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet" />

    <link href="{% static '/static/plugins/toastr/toastr.css' %}" rel="stylesheet"/>
    <!-- END PAGE LEVEL PLUGIN STYLES -->

{% endblock %}


<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">

    <!-- BEGIN CONTAINER -->
    <div class="container min-hight margin-top-50">
        <!-- BEGIN ABOUT INFO -->
        <div class="row margin-bottom-30">

            <!-- BEGIN INFO BLOCK -->
            <div class="col-md-12 space-mobile sponsor">

                <h1><strong>Sponsors of COS</strong></h1>
                <p class="lead">The Center for Open Science is a non-profit funded through a number of grants and donations.</p>
                <div class="portlet box tabbable margin-top-50">
                        <div class="portlet-body">
                            <div class="portlet-tabs">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#portlet_tab2_2" data-toggle="tab">
                                        2014 </a>
                                    </li>
                                    <li>
                                        <a href="#portlet_tab2_1" data-toggle="tab">
                                        2013</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" id="portlet_tab2_1">
                                        <table>
                                            <tr>
                                                <td class="sponsor-center"><a href="http://www.arnoldfoundation.org/"><img src="{% static '/static/img/ljaf.gif' %}"></a></td>
                                                <td><span class="med-font"><strong>Laura and John Arnold Foundation</strong></span><br>
                                                <strong>$2,166,125</strong><br>
                                                The Laura and John Arnold Foundation supports the Center for Open Science and its efforts to foster open, reliable, and rigorous scientific research.<br>
                                                </td>
                                            <tr class="spacer"></tr>
                                            </tr>
                                            <tr>
                                                <td class="sponsor-center" ></td>
                                                <td><span class="med-font"><strong>Anonymous Donor</strong></span><br>
                                                <strong>$400,000</strong><br>
                                               <br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="sponsor-center"><a href="http://www.sloan.org/"><img src="{% static '/static/img/sloan.png' %}"></a></td>
                                                <td><span class="med-font"><strong>Alfred P. Sloan Foundation</strong></span><br>
                                                <strong>$331,400</strong><br>
                                                The Alfred P. Sloan Foundation gave an award to connect the OSF with tools created by other open source and open science service providers. The funds will support data management planning, pre-registration of research designs, data archiving, data analysis, and journal management.<br>
                                                </td>
                                            </tr>
                                        </table>
                                        <div id="in-kind" class="margin-top-100">
                                            <h3><strong>In-Kind Donations</strong></h3>
                                            <p>These organizations helped us out by providing in-kind donations of goods and services.</p>
                                            <table  class="margin-top-50 donation-table">
                                                <tr>
                                                    <td class="sponsor-center" id="jetbrains"><a href="http://www.jetbrains.com/"><img src="{% static '/static/img/icons/jetbrains.jpg' %}"></a></td>
                                                    <td><span class="med-font"><strong>JetBrains</strong></span><br>
                                                    Professional editions of <a href="http://www.jetbrains.com/pycharm/">PyCharm</a> and <a href="http://www.jetbrains.com/webstorm/">Webstorm</a> via their <a href="http://www.jetbrains.com/pycharm/buy/buy.jsp#openSource">open source license</a><br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane active" id="portlet_tab2_2">
                                        <table>
                                            <tr>
                                                <td class="sponsor-center" ><a href="http://www.arnoldfoundation.org/"><img src="{% static '/static/img/ljaf.gif' %}"></a></td>
                                                <td><span class="med-font"><strong>Laura and John Arnold Foundation</strong></span><br>
                                                <strong>$2,174,625</strong><br>
                                                The Laura and John Arnold Foundation supports the Center for Open Science and its efforts to foster open, reliable, and rigorous scientific research.<br>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr>
                                                <td class="sponsor-center"><a href="http://www.templeton.org/"><img src="{% static '/static/img/templeton.png' %}"></a></td>
                                                <td><span class="med-font"><strong>John Templeton Foundation</strong></span><br>
                                                <strong>$759,549</strong><br>
                                                The John Templeton Foundation awarded COS a grant to increase scientific openness and integrity and to dramatically expand the features and connectivity of the OSF.<br>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr>
                                                <td class="sponsor-center"></td>
                                                <td><span class="med-font"><strong>Anonymous Donor</strong></span><br>
                                                <strong>$310,000</strong><br>
                                                Donor support for an incubator project program.<br>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr>
                                                <td class="sponsor-center"><a href="http://www.sloan.org/"><img src="{% static '/static/img/sloan.png' %}"></a></td>
                                                <td><span class="med-font"><strong>Alfred P. Sloan Foundation</strong></span><br>
                                                <strong>$168,600</strong><br>
                                                The Alfred P. Sloan Foundation gave an award to connect the OSF with tools created by other open source and open science service providers. The funds will support data management planning, pre-registration of research designs, data archiving, data analysis, and journal management.<br>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr>
                                                <td class="sponsor-center" ><a href="http://www.arl.org/"><img src="{% static '/static/img/icons/arl2.jpg' %}"></a></td>
                                                <td><span class="med-font"><strong>Association of Research Libraries</strong></span><br>
                                                <strong>$152,386</strong><br>
                                                The Association of Research Libraries selected COS to build the SHARE notification system, which will use the OSF to provide notice that research is available to the public.<br>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr>
                                                <td class="sponsor-center" ><a href="https://www.scienceexchange.com/"><img src="{% static '/static/img/icons/SE_Logo.png' %}"></a></td>
                                                <td><span class="med-font"><strong>Science Exchange</strong></span><br>
                                                <strong>$35,000</strong><br>
                                                Science Exchange gave funds to support the <a href="https://osf.io/e81xl/">Reproducibility Project: Cancer Biology.</a><br>
                                                </td>
                                            </tr>
                                        </table>
                                        <div id="in-kind" class="margin-top-100">
                                            <h3><strong>In-Kind Donations</strong></h3>
                                            <p>These organizations helped us out by providing in-kind donations of goods and services.</p>
                                            <table  class="margin-top-50 donation-table">
                                                <tr>
                                                    <td class="sponsor-center" ><a href="http://www.atcc.org/"><img src="{% static '/static/img/icons/atcc.jpg' %}"></a></td>
                                                    <td><span class="med-font"><strong>ATCC</strong></span><br>
                                                    Reagents for Reproducibility Project: Cancer Biology
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center" ><a href="http://www.biolegend.com/"><img src="{% static '/static/img/icons/biologo.png' %}"></a></td>
                                                    <td><span class="med-font"><strong>Biolegend</strong></span><br>
                                                    Reagents for Reproducibility Project: Cancer Biology
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center" ><a href="http://www.cellsignal.com/"><img src="{% static '/static/img/icons/cst.jpg' %}"></a></td>
                                                    <td><span class="med-font"><strong>Cell Signaling Technologies</strong></span><br>
                                                    Reagents for Reproducibility Project: Cancer Biology<br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center" ><a href="http://www.criver.com/"><img src="{% static '/static/img/icons/criver.png' %}"></a></td>
                                                    <td><span class="med-font"><strong>Charles River Laboratories</strong></span><br>
                                                    Reagents for Reproducibility Project: Cancer Biology<br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center" ><a href="http://www.corning.com/index.aspx"><img src="{% static '/static/img/icons/corning.gif' %}"></a></td>
                                                    <td><span class="med-font"><strong>Corning Incorporated</strong></span><br>
                                                    Reagents for Reproducibility Project: Cancer Biology<br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center" ><a href="http://www.ddcmedical.com/"><img src="{% static '/static/img/icons/ddc.jpg' %}"></a></td>
                                                    <td><span class="med-font"><strong>DDC Medical</strong></span><br>
                                                    Reagents for Reproducibility Project: Cancer Biology<br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center" ><a href="http://www.dreamhost.com/"><img src="{% static '/static/img/icons/dreamhost.png' %}"></a></td>
                                                    <td><span class="med-font"><strong>Dreamhost</strong></span><br>
                                                    Free <a href="http://wiki.dreamhost.com/Non-profit_Discount">services for non-profits</a><br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center" id="square"><a href="http://www.emdmillipore.com/US/en?isCountryEMD=yes"><img src="{% static '/static/img/icons/milli.png' %}"></a></td>
                                                    <td><span class="med-font"><strong>EMD Millipore</strong></span><br>
                                                    Reagents for Reproducibility Project: Cancer Biology</a><br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center" id="square"><a href="https://www.flowdock.com/"><img src="{% static '/static/img/icons/flowdock-logo.png' %}"></a></td>
                                                    <td><span class="med-font"><strong>Flowdock</strong></span><br>
                                                    Free access to their <a href="http://flowdock.com">team chat and collaboration</a> application<br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center" id="google"><a href="https://github.com/"><img src="{% static '/static/img/icons/octocat.png' %}"></a></td>
                                                    <td><span class="med-font"><strong>Github</strong></span><br>
                                                    Bronze Plan via <a href="https://github.com/nonprofit">GitHub for Good</a><br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="sponsor-center" id="google"><a href="http://www.google.com"><img src="{% static '/static/img/icons/google2.png' %}"></a></td>
                                                    <td><span class="med-font"><strong>Google</strong></span><br>
                                                    <a href="http://www.google.com/nonprofits/products/">Google Apps for non-profits</a><br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer-small"></tr>
                                                <tr>
                                                    <td class="sponsor-center"><a href="http://www.harlan.com/"><img src="{% static '/static/img/icons/harlan.png' %}"></a></td>
                                                    <td><span class="med-font"><strong>Harlan Laboratories</strong></span><br>
                                                    Reagents for Reproducibility Project: Cancer Biology</a><br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center" id="jetbrains"><a href="http://www.jetbrains.com/"><img src="{% static '/static/img/icons/jetbrains.jpg' %}"></a></td>
                                                    <td><span class="med-font"><strong>JetBrains</strong></span><br>
                                                    Professional editions of <a href="http://www.jetbrains.com/pycharm/">PyCharm</a> and <a href="http://www.jetbrains.com/webstorm/">Webstorm</a> via their <a href="http://www.jetbrains.com/pycharm/buy/buy.jsp#openSource">open source license</a><br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center" ><a href="http://www.licor.com/bio/"><img src="{% static '/static/img/icons/licor.png' %}"></a></td>
                                                    <td><span class="med-font"><strong>LI-COR Biosciences</strong></span><br>
                                                    Reagents for Reproducibility Project: Cancer Biology</a><br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center"><a href="https://www.mirusbio.com/https://www.mirusbio.com/"><img src="{% static '/static/img/icons/mirus.png' %}"></a></td>
                                                    <td><span class="med-font"><strong>Mirus Bio</strong></span><br>
                                                    Reagents for Reproducibility Project: Cancer Biology<br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center"><a href="http://www.novusbio.com/"><img src="{% static '/static/img/icons/novus.png' %}"></a></td>
                                                    <td><span class="med-font"><strong>Novus Biologicals</strong></span><br>
                                                    Reagents for Reproducibility Project: Cancer Biology</a><br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center"><a href="http://www.readyforce.com/"><img src="{% static '/static/img/icons/readyforce.png' %}"></a></td>
                                                    <td><span class="med-font"><strong>Readyforce.com</strong></span><br>
                                                    Recruitment<br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center"><a href="http://www.salesforce.com/desk/overview/"><img src="{% static '/static/img/icons/salesforce-desk.png' %}"></a></td>
                                                    <td><span class="med-font"><strong>Salesforce</strong></span><br>Non-profit discount for <a href="http://www.desk.com/">desk.com</a> through the Salesforce.com Foundation's <a href="http://www.salesforcefoundation.org/power-of-us/">Power of Us program</a><br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center"><a href="https://www.sigmaaldrich.com"><img src="{% static '/static/img/icons/sigma-aldrich.jpg' %}"></a></td>
                                                    <td><span class="med-font"><strong>Sigma-Aldrich</strong></span><br>
                                                   Reagents for Reproducibility Project: Cancer Biology<br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center"><a href="https://teamgantt.com/"><img src="{% static '/static/img/icons/teamgantt.jpg' %}"></a></td>
                                                    <td><span class="med-font"><strong>TeamGantt</strong></span><br>
                                                   Expansion of plan to accommodate more team members<br>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                                <tr>
                                                    <td class="sponsor-center"><a href="http://www.zipfianacademy.com/"><img src="{% static '/static/img/icons/zipfian.png' %}"></a></td>
                                                    <td><span class="med-font"><strong>Zipfian Academy</strong></span><br>
                                                    Recruitment<br>
                                                    </td>
                                                </tr>

                <li><script type="text/javascript">document.write("<n uers=\"znvygb:pbhegarl@pbf.vb\" ery=\"absbyybj\" qngn-bevtvany-gvgyr=\"rznvy\" pynff=\"rznvy\"></n>".replace(/[a-zA-Z]/g,function(e){return String.fromCharCode((e<="Z"?90:122)>=(e=e.charCodeAt(0)+13)?e:e-26)}));</script></li>
                <li><a href="https://osf.io/hsey5/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/holman.jpg" alt="Denise Holman">
            <h3>
                Denise Holman
                <small>Office Manager & Events Coordinator | Community </small>
                <noscript><span class="obfuscated-email-noscript"><small style="padding-top: 5px;">deni<span style="display:none;">null</span>se@co<span style="display:none;">null</span>s.io</small></span></noscript>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><script type="text/javascript">document.write("<n uers=\"znvygb:qravfr@pbf.vb\" ery=\"absbyybj\" qngn-bevtvany-gvgyr=\"rznvy\" pynff=\"rznvy\"></n>".replace(/[a-zA-Z]/g,function(e){return String.fromCharCode((e<="Z"?90:122)>=(e=e.charCodeAt(0)+13)?e:e-26)}));</script></li>
                <li><a href="http://www.linkedin.com/profile/view?id=86936535&trk=nav_responsive_tab_profile_pic" data-original-title="Linkedin" class="linkedin"></a></li>
                <li><a href="https://osf.io/f9xpl/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/brooks.jpg" alt="Derek Brooks">
            <h3>
                Derek Brooks
                <small>Human Resources Intern | Community </small>
                <noscript><span class="obfuscated-email-noscript"><small style="padding-top: 5px;">dbroo<span style="display:none;">null</span>ks@co<span style="display:none;">null</span>s.io</small></span></noscript>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><script type="text/javascript">document.write("<n uers=\"znvygb:qoebbxf@pbf.vb\" ery=\"absbyybj\" qngn-bevtvany-gvgyr=\"rznvy\" pynff=\"rznvy\"></n>".replace(/[a-zA-Z]/g,function(e){return String.fromCharCode((e<="Z"?90:122)>=(e=e.charCodeAt(0)+13)?e:e-26)}));</script></li>
                <li><a href="http://www.linkedin.com/in/derekbbrooks" data-original-title="Linkedin" class="linkedin"></a></li>
                <li><a href="https://osf.io/2g3m9/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/braswell.JPG" alt="Erin Braswell">
            <h3>
                Erin Braswell
                <small>Developer | Infrastructure</small>
                <noscript><span class="obfuscated-email-noscript"><small style="padding-top: 5px;">er<span style="display:none;">null</span>in@co<span style="display:none;">null</span>s.io</small></span></noscript>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><script type="text/javascript">document.write("<n uers=\"znvygb:reva@pbf.vb\" ery=\"absbyybj\" qngn-bevtvany-gvgyr=\"rznvy\" pynff=\"rznvy\"></n>".replace(/[a-zA-Z]/g,function(e){return String.fromCharCode((e<="Z"?90:122)>=(e=e.charCodeAt(0)+13)?e:e-26)}));</script></li>
                <li><a href="https://github.com/erinspace" data-original-title="github" class="github"></a></li>
                <li><a href="https://www.linkedin.com/pub/erin-braswell/31/a7/481" data-original-title="Linkedin" class="linkedin"></a></li>
                <li><a href="https://osf.io/tfyje/" data-original-title="osf" class="osf"></a></li>
                <li><a href="https://twitter.com/erinbspace" data-original-title="twitter" class="twitter"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/feilitzsch.jpg" alt="Fabian von Feilitzsch">
            <h3>
                Fabian von Feilitzsch
                <small>Developer | Infrastructure</small>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="https://github.com/fabianvf" data-original-title="GitHub" class="github"></a></li>
                <li><a href="https://www.linkedin.com/profile/view?id=230618636" data-original-title="Linkedin" class="linkedin"></a></li>
                <li><a href="https://osf.io/nz6xq/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/huynh.jpg" alt="Faye Huynh">
            <h3>
                Faye Huynh
                <small>Developer Intern | Infrastructure</small>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="https://github.com/fh9cp" data-original-title="GitHub" class="github"></a></li>
                <li><a href="https://osf.io/zkaeq/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/kriebel.jpg" alt="Gary Kriebel">
            <h3>
                Gary Kriebel
                <small>Technical Project Manager | Infrastructure</small>
                <noscript><span class="obfuscated-email-noscript"><small style="padding-top: 5px;">gar<span style="display:none;">null</span>y@co<span style="display:none;">null</span>s.io</small></span></noscript>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><script type="text/javascript">document.write("<n uers=\"znvygb:tnel@pbf.vb\" ery=\"absbyybj\" qngn-bevtvany-gvgyr=\"rznvy\" pynff=\"rznvy\"></n>".replace(/[a-zA-Z]/g,function(e){return String.fromCharCode((e<="Z"?90:122)>=(e=e.charCodeAt(0)+13)?e:e-26)}));</script></li>
                <li><a href="https://www.linkedin.com/in/garykriebel/" data-original-title="Linkedin" class="linkedin"></a></li>
                <li><a href="https://osf.io/njkr6/" data-original-title="osf" class="osf"></a></li>
                <li><a href="http://odpllc.com" data-original-title="Person" class="person"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/rhee.jpg" alt="Gene Rhee">
            <h3>
                Gene Rhee
                <small>Developer Volunteer | Infrastructure</small>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="https://github.com/gkr6sy" data-original-title="Github" class="github"></a></li>
                <li><a href="https://osf.io/629w8/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/vuu.jpg" alt="Gina Vuu">
            <h3>
                Gina Vuu
                <small>QA Intern | Infrastructure</small>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="https://github.com/ginavuu" data-original-title="Github" class="github"></a></li>
                <li><a href="https://www.linkedin.com/pub/gina-vuu/a4/779/2a2" data-original-title="Linkedin" class="linkedin"></a></li>
                <li><a href="https://osf.io/s3tzc/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/huang.jpg" alt="Ginny Huang">
            <h3>
                Ginny Huang
                <small>QA Intern | Infrastructure</small>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="https://github.com/huangginny" data-original-title="Github" class="github"></a></li>
                <li><a href="https://osf.io/ij94f/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/mendell.jpg" alt="Himanshu Ojha">
            <h3>
                Harris Mendell
                <small>Developer Intern | Infrastructure</small>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="https://github.com/harrismendell" data-original-title="GitHub" class="github"></a></li>
                <li><a href="https://osf.io/6r2an/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/rybaki.jpg" alt="Harry Rybacki">
            <h3>
                Harry Rybacki
                <small>Developer | Infrastructure</small>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="https://github.com/HarryRybacki" data-original-title="GitHub" class="github"></a></li>
                <li><a href="https://osf.io/uycv3/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/ojha.jpg" alt="Himanshu Ojha">
            <h3>
                Himanshu Ojha
                <small>Developer Intern | Infrastructure</small>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="https://github.com/himanshuo" data-original-title="GitHub" class="github"></a></li>
                <li><a href="https://www.linkedin.com/in/himanshuo" data-original-title="Linkedin" class="linkedin"></a></li>
                <li><a href="https://osf.io/dvsn9/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/kumar.jpg" alt="Himica Kumar">
            <h3>
                Himica Kumar
                <small>Developer Intern | Infrastructure</small>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="https://github.com/himicakumar" data-original-title="GitHub" class="github"></a></li>
                <li><a href="https://osf.io/3makx/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/rosenberg.jpg" alt="Jake Rosenberg">
            <h3>
                Jake Rosenberg
                <small>Developer Intern | Infrastructure</small>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="https://www.facebook.com/jakerose27" data-original-title="Facebook" class="facebook"></a></li>
                <li><a href="https://github.com/jakerose27" data-original-title="GitHub" class="github"></a></li>
                <li><a href="https://osf.io/bnpaa/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3">
        <div class="thumbnail">
            <img src="../static/img/people/spies.jpg" alt="Jeff Spies">
            <h3>
                Jeff Spies
                <small>Co-founder, CTO</small>
                <noscript><span class="obfuscated-email-noscript"><small style="padding-top: 5px;">jef<span style="display:none;">null</span>f@co<span style="display:none;">null</span>s.io</small></span></noscript>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><script type="text/javascript">document.write("<n uers=\"znvygb:wrss@pbf.vb\" ery=\"absbyybj\" qngn-bevtvany-gvgyr=\"rznvy\" pynff=\"rznvy\"></n>".replace(/[a-zA-Z]/g,function(e){return String.fromCharCode((e<="Z"?90:122)>=(e=e.charCodeAt(0)+13)?e:e-26)}));</script></li>
                <li><a href="https://github.com/jeffspies" data-original-title="GitHub" class="github"></a> </li>
                <li><a href="https://plus.google.com/u/0/+JeffreySpies/posts" data-original-title="Goole Plus" class="googleplus"></a></li>
                <li><a href="http://www.linkedin.com/pub/jeffrey-spies/52/1a7/507" data-original-title="Linkedin" class="linkedin"></a></li>
                <li><a href="https://osf.io/jk5cv/" data-original-title="osf" class="osf"></a></li>
                <li><a href="https://twitter.com/JeffSpies" data-original-title="Twitter" class="twitter"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/cohoon.jpg" alt="Johanna Cohoon">
            <h3>
                Johanna Cohoon
                <small>Project Coordinator | Metascience</small>
                <noscript><span class="obfuscated-email-noscript"><small style="padding-top: 5px;">johan<span style="display:none;">null</span>na@co<span style="display:none;">null</span>s.io</small></span></noscript>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><script type="text/javascript">document.write("<n uers=\"znvygb:wbunaan@pbf.vb\" ery=\"absbyybj\" qngn-bevtvany-gvgyr=\"rznvy\" pynff=\"rznvy\"></n>".replace(/[a-zA-Z]/g,function(e){return String.fromCharCode((e<="Z"?90:122)>=(e=e.charCodeAt(0)+13)?e:e-26)}));</script></li>
                <li><a href="http://www.linkedin.com/pub/johanna-cohoon/3b/a90/ab7" data-original-title="Linkedin" class="linkedin"></a></li>
                <li><a href="https://github.com/jlcohoon" data-original-title="Github" class="github"></a></li>
                <li><a href="https://osf.io/edb8y/" data-original-title="osf" class="osf"></a></li>
                <li><a href="https://twitter.com/jlcohoon" data-original-title="Twitter" class="twitter"></a></li>
            </ul>
        </div>
    </li>
        <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/gold.jpg" alt="Jordan Gold">
            <h3>
                Jordan Gold
                <small>QA Intern | Infrastructure</small>
                
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="https://osf.io/e4zsq/" data-original-title="osf" class="osf"></a></li>
                
            </ul>
        </div>
    </li>
        <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/carrigan.jpg" alt="Jillian Carrigan">
            <h3>
                Jillian Carrigan
                <small>Administrative Assistant Intern | Community</small>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="http://www.linkedin.com/pub/jillian-carrigan/a0/919/6b/" data-original-title="Linkedin" class="linkedin"></a></li>
                <li><a href="https://osf.io/an7bp/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/carp.jpg" alt="Josh Carp">
            <h3>
                Josh Carp
                <small>Developer | Infrastructure</small>
                <noscript><span class="obfuscated-email-noscript"><small style="padding-top: 5px;">jos<span style="display:none;">null</span>h@co<span style="display:none;">null</span>s.io</small></span></noscript>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><script type="text/javascript">document.write("<n uers=\"znvygb:wbfu@pbf.vb\" ery=\"absbyybj\" qngn-bevtvany-gvgyr=\"rznvy\" pynff=\"rznvy\"></n>".replace(/[a-zA-Z]/g,function(e){return String.fromCharCode((e<="Z"?90:122)>=(e=e.charCodeAt(0)+13)?e:e-26)}));</script></li>
                <li><a href="https://github.com/jmcarp" data-original-title="GitHub" class="github"></a> </li>
                <li><a href="https://osf.io/icpnw/" data-original-title="osf" class="osf"></a></li>
                <li><a href="https://twitter.com/whatthecarp" data-original-title="Twitter" class="twitter"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/cain.jpg" alt="Katy Cain">
            <h3>
                Katy Cain
                <small> Social Media Intern | Community</small>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="https://www.facebook.com/KattherineCain?ref=bookmarks" data-original-title="Facebook" class="facebook"></a></li>
                <li><a href="https://github.com/KatyCain526" data-original-title="GitHub" class="github"></a> </li>
                <li><a href="http://www.linkedin.com/pub/katherine-cain/a0/26a/a18" data-original-title="linkedin" class="linkedin"></a></li>
                <li><a href="http://osf.io/i2tmd" data-original-title="osf" class="osf"></a></li>
                <li><a href="http://katherinecain.photoshelter.com" data-original-title="Person" class="person"></a></li>
                <li><a href="https://twitter.com/KatyCain526" data-original-title="Twitter" class="twitter"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/davydova.jpg" alt="Katya Davydova">
            <h3>
                Katya Davydova
                <small> Human Resources Intern | Community</small>
                <noscript><span class="obfuscated-email-noscript"><small style="padding-top: 5px;">kdav<span style="display:none;">null</span>ydova@co<span style="display:none;">null</span>s.io</small></span></noscript>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><script type="text/javascript">document.write("<n uers=\"znvygb:xqnilqbin@pbf.vb\" ery=\"absbyybj\" qngn-bevtvany-gvgyr=\"rznvy\" pynff=\"rznvy\"></n>".replace(/[a-zA-Z]/g,function(e){return String.fromCharCode((e<="Z"?90:122)>=(e=e.charCodeAt(0)+13)?e:e-26)}));</script></li>
                <li><a href="https://github.com/kdavydova13" data-original-title="GitHub" class="github"></a> </li>
                <li><a href="https://www.linkedin.com/profile/view?id=200774365" data-original-title="linkedin" class="linkedin"></a></li>
                <li><a href="http://osf.io/tfj5b" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/jungersen.jpg" alt="Kurtis Jungersen">
            <h3>
                Kurtis Jungersen
                <small>Developer Intern | Infrastructure</small>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="https://github.com/kmjungersen" data-original-title="GitHub" class="github"></a> </li>
                <li><a href="https://www.linkedin.com/pub/kurtis-jungersen/37/76b/3a" data-original-title="linkedin" class="linkedin"></a></li>
                <li><a href="https://osf.io/q36he/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/gupta.jpg" alt="Kushagra Gupta">
            <h3>
                Kushagra Gupta
                <small>Developer Intern | Infrastructure</small>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><a href="https://www.facebook.com/imkushagra" data-original-title="Facebook" class="facebook"></a></li>
                <li><a href="https://github.com/KushG" data-original-title="GitHub" class="github"></a> </li>
                <li><a href="https://www.linkedin.com/pub/kushagra-gupta/26/88/a84" data-original-title="linkedin" class="linkedin"></a></li>
                <li><a href="https://osf.io/k9xyz/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/banner.jpg" alt="Larry Banner">
            <h3>
                Larry Banner
                <small>Technical Project Manager | Infrastructure</small>
                <noscript><span class="obfuscated-email-noscript"><small style="padding-top: 5px;">lar<span style="display:none;">null</span>ry@co<span style="display:none;">null</span>s.io</small></span></noscript>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><script type="text/javascript">document.write("<n uers=\"znvygb:yneel@pbf.vb\" ery=\"absbyybj\" qngn-bevtvany-gvgyr=\"rznvy\" pynff=\"rznvy\"></n>".replace(/[a-zA-Z]/g,function(e){return String.fromCharCode((e<="Z"?90:122)>=(e=e.charCodeAt(0)+13)?e:e-26)}));</script></li>
                <li><a href="https://github.com/lbanner" data-original-title="GitHub" class="github"></a> </li>
                <li><a href="https://osf.io/ygsav/" data-original-title="osf" class="osf"></a></li>
                <li><a href="https://twitter.com/lbanner" data-original-title="Twitter" class="twitter"></a></li>
            </ul>
        </div>
    </li>
    <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/simon.jpg" alt="Lyndsy Simon">
            <h3>
                Lyndsy Simon
                <small>Developer | Infrastructure</small>
                <noscript><span class="obfuscated-email-noscript"><small style="padding-top: 5px;">lynd<span style="display:none;">null</span>sy@co<span style="display:none;">null</span>s.io</small></span></noscript>
            </h3>
            <ul class="social-icons social-icons-color">
                <li><script type="text/javascript">document.write("<n uers=\"znvygb:ylaqfl@pbf.vb\" ery=\"absbyybj\" qngn-bevtvany-gvgyr=\"rznvy\" pynff=\"rznvy\"></n>".replace(/[a-zA-Z]/g,function(e){return String.fromCharCode((e<="Z"?90:122)>=(e=e.charCodeAt(0)+13)?e:e-26)}));</script></li>
                <li><a href="https://github.com/lyndsysimon" data-original-title="GitHub" class="github"></a> </li>
                <li><a href="https://osf.io/amvr6/" data-original-title="osf" class="osf"></a></li>
            </ul>
        </div>
    </li>
        <li class="col-md-3 space-mobile">
        <div class="thumbnail">
            <img src="../static/img/people/kidwell.JPG" alt="Mallory Kidwell">
            <h3>
                Mallory Kidwell
                <small>Project Coordinator | Metascience</small>
                <noscript><span class="obfuscated-email-noscript"><small style="padding-top: 5px;">mallo<span style="display:none;">null</span>ry@co<span style="display:none;">null</span>s.io</small></span></noscript>
            </h3>
                <ul class="social-icons social-icons-color">
                <li><script type="text/javascript">document.write("<n uers=\"znvygb:znyybel@pbf.vb\" ery=\"absbyybj\" qngn-bevtvany-gvgyr=\"rznvy\" pynff=\"rznvy\"></n>".replace(/[a-zA-Z]/g,function(e){return String.fromCharCode((e<="Z"?90:122)>=(e=e.charCodeAt(0)+13)?e:e-26)}));</script></li>

                </div>
                <div id="donations" class="margin-top-100">
                    <h3><strong>Want to make a donation?</strong></h3>
                    <p>We’re excited that you want to donate to our cause! We are a 501(c)3 charitable organization and all contributions are tax deductible.</p>
                    <p>Currently, there are two ways to support the Center for Open Science:</p>
                    <table  class="margin-top-50 donation-table">
                        <tr>
                            <td class="sponsor-center"><a href="https://www.givinglibrary.org/organizations/center-for-open-science"><img src="{% static '/static/img/icons/givinglibrary.png' %}"></a></td>
                            <td>Giving Library is a catalogue of non-profits where you can make a secure donation to COS.</td>
                        </tr>
                        <tr>
                            <td class="sponsor-center"><a href="http://smile.amazon.com/ch/46-1496217"><img src="{% static '/static/img/icons/amazon.jpg' %}"></a></td>
                            <td>AmazonSmile allows shoppers to benefit organizations they support, just by making their usual online purchases.</td>
                        </tr>

                    </table>

                </div>
                <div class="spacer"></div>
            </div>

            <!-- END INFO BLOCK -->
        </div>
    </div>
    <!--End Container-->
</div>
<!-- END PAGE CONTAINER -->

<!-- BEGIN PAGE LEVEL JAVASCRIPTS(REQUIRED ONLY FOR CURRENT PAGE) -->
{% block stylesheets_bottom %}
    <script type="text/javascript" src="{% static '/static/plugins/toastr/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/plugins/fancybox/source/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static '/static/plugins/jquery.mixitup.min.js' %}"></script>
    <script src="{% static '/static/scripts/app.js' %}"></script>
    <script src="{% static '/static/scripts/portfolio.js' %}"></script>

{% endblock %}{% endblock %}
<!-- END PAGE LEVEL JAVASCRIPTS -->
